@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  font-family: "Manrope", sans-serif;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #4F39F6 #E5E7EB;
  scrollbar-gutter: stable;
}

.card {
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.04);
}

.animate-gradient-text {
  background-size: 200% auto;
  animation: gradientMove 3s linear infinite alternate;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}